 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background: silver;
 }

 .gallery-container {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-auto-rows: 150px;
     /*para definir el alto de las filas*/
     padding: 20px;
     grid-gap: 10px;
     /* para darle espacios entre las imagenes*/

 }

 .gallery__img {
     /*  width: 100%;
    height: 100%; */
     object-fit: cover;
     /* esto hara que las imagenes no se distorciones*/

 }

 .gallery__item h2 {
     text-align: center;
     border: 1px solid black;
     grid-row-start: span 2;
     grid-column-start: span2;
 }

 .gallery__item:nth-child(1) {
     grid-column-start: span 2;

 }

 .gallery__item:nth-child(2) {
     grid-column-start: span 2;

 }

 .gallery__item:nth-child(3) {
     grid-column-start: span 1;

 }

 .gallery__item:nth-child(4) {
     grid-column-start: span 1;

 }

 .gallery__item:nth-child(3) {
     grid-row-start: 3;

 }

