 *{
    margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    
    
    #containt-Grid {
        display: grid;
        grid-template-columns: 200px;
        grid-gap: 20px;
    }
    
    .one {
    
        width: 50%;
        height: 50%;
    
        border: 1px solid black;
        margin: 5px 10px;
    
    }
    
    .one h1 {
        text-align: center;
    
    
    }